apispec[yaml]
apispec-webframeworks
cryptography
flask
flask-restful
flask-migrate
flask-sqlalchemy
flask-marshmallow
flask-jwt-extended
Flask-UUID
gunicorn
marshmallow>=3.5.1
marshmallow-sqlalchemy
passlib
python-dotenv
psycopg2-binary
tox
webargs
